@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blob-animation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(20px, -30px) scale(1.1);
  }
  50% {
    transform: translate(-10px, 20px) scale(0.9);
  }
  75% {
    transform: translate(30px, 10px) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animated-blob {
  animation: blob-animation 20s ease-in-out infinite alternate;
  @apply absolute rounded-full opacity-60 filter blur-3xl mix-blend-screen;
}